

/* .search-bar {
  width: 32%;
  color: white;
  border-radius: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: #2d2d2d;
  height: 44px;

  background-image: url('https://css.gg/search.css');
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left: 40px;
} */